@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-approval {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2% 0;
}
.left-approval {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.left-approval-img img {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 2%;
  border-radius: 15px;
  width: 100%;
}
.left-details {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 10%;
  border-radius: 15px;
  width: 100%;
  margin-top: 2%;
}
.left-details h1 {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}
.left-details p {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.right-approval {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 2%;
}
.right-approval-desc {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 2%;
  border-radius: 15px;
  width: 100%;
}
.right-approval-desc h1 {
  font-family: Playfair Display;
  font-size: 38px;
  font-weight: 900;
}
.right-approval-desc h2 {  
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 900;
}
.right-approval-desc p {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
}
.right-approval-desc button {
  background: rgba(255, 205, 97, 1);
  padding: 1% 2%;
  border: none;
  border-radius: 10px;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 700;
}
.reservation-date {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 2%;
  border-radius: 15px;
  width: 100%;
  margin-top: 2%;
}
.reservation-date h1 {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.right-details {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 2%;
  border-radius: 15px;
  width: 100%;
  margin-top: 2%;
}
.right-details h1 {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}
.right-details p {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.payment-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center;   */
  width: 100%;
}
.code {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.code h2 {
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
}
.code button {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  background: rgba(57, 57, 57, 1);
  color: rgba(255, 205, 97, 1);
  border: none;
  border-radius: 5px;
  margin: 0 3%;
  padding: 1% 5%;
}
.payment-row h1 {
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
}
.transfer-row {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
