{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "doubleQuotes": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxBracketSameLine": false
}
