.authimage {
  width: 100%;
  height: 1500px;
  object-fit: cover;
}
.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 79px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: rgba(57, 57, 57, 0.5);

  background: rgba(218, 218, 218, 0.28);
  border: 0.5px solid rgba(78, 78, 78, 0.5);
  border-radius: 10px;
}
.form-login {
  width: 64%;
}
.auth-btn {
  /* width: 490px; */
  height: 79px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  color: #393939;
  background: #ffcd61;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
  border-radius: 10px;
}
.google-btn {
  /* width: 490px; */
  height: 79px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  color: #000000;

  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(78, 78, 78, 0.4);
  border-radius: 10px;
}
.sign-btn {
  /* width: 490px; */
  height: 79px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  color: #ffcd61;

  background: #393939;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.click-me {
  border: none;
  background-color: white;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  text-decoration-line: underline;

  color: #393939;
}
.click-me:hover {
  color: blue;
}

.right-side {
  background: white;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: rgba(57, 57, 57, 0.5);
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border: 1px solid #4e4e4e;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

.bg-image {
  position: relative;
}

.text-auth {
  position: absolute;
  height: 85px;
  left: 450px;
  top: 200px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  word-spacing: 26px;

  color: #ffffff;
}
.bg-image .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}
.forgot-btn {
  position: absolute;
  width: 447px;
  height: 79px;
  left: 700px;
  top: 500px;

  background: #ffcd61;
  box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
  border-radius: 10px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  color: #393939;
}
.forgot-btn:hover {
  background: #eba206;
}
.forgot-form {
  position: absolute;
  width: 447px;
  height: 79px;
  left: 700px;
  top: 350px;
  border: none;

  color: #ffffff;

  background: rgba(255, 255, 255, 0.26);
  border-radius: 10px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  text-align: center;
}
.forgot-post p {
  position: absolute;
  width: 548px;
  height: 66px;
  left: 650px;
  top: 700px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #ffffff;
}
.back-forgot {
  position: absolute;
  width: 54px;
  height: 24px;
  left: 185px;
  top: 77px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  align-items: center;

  color: #ffffff;
}

.arrow-btn {
  position: absolute;
  left: 2.57%;
  right: 91.35%;
  top: 6.5%;
  bottom: 89.98%;
}
@media (max-width: 425px) {
  .container-image {
    display: none;
  }
  .mobile-display {
  }
  .right-side {
    background-image: url("./logimsmall.png");
  }
}
