.image-container {
  width: 300px;
  margin-right: 10px;
  cursor: pointer;
}

.rounded-image {
  object-fit: fill;
  height: 400px;
  border-radius: 20px;
}

.image-popular {
  align-items: flex-end;
}

.image-popular p {
  color: rgb(0, 0, 0);
  padding: 0 30px 0 10px;
  margin: 0;
}

.box-image {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  width: 180px;
}

.card-popular {
  width: 25%;
  border: 50px #0000;
  border-radius: 50px;
}

.card-category {
  font-size: 18px;
  font-weight: 700;
}

.card-location {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .card-responsive {
    width: 50%;
  }

  .image-popular p {
    color: rgb(0, 0, 0);
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
  }

  .box-image {
    /* display: none; */
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }
}
