@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Detail {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}
.vehicle-detail {
  display: flex;
  flex-direction: row;
  justify-content: left; 
  align-items: center; 
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 5%;
  border-radius: 15px;  
}
.vehicle-detail h1 {  
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 0 5%;
}
.vehicle-detail button {
  border: none;
  background-color: white;
}
.row-button-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chat-admin{  
  padding: 1% 10%;
  margin: 2% 2%;
  border: none;
  border-radius: 10px;
  background: rgba(57, 57, 57, 1);
  color: rgba(255, 205, 97, 1);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}
.reservation{  
  padding: 1% 10%;
  margin: 2% 2%;
  border: none;
  border-radius: 10px;
  color: rgba(57, 57, 57, 1);
  background-color: rgba(255, 205, 97, 1);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}
.favorite{  
  padding: 1% 7%;
  margin: 2% 2%;
  border: none;
  border-radius: 10px;
  background: rgba(57, 57, 57, 1);
  color: rgba(255, 205, 97, 1);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
}
.favorite img {
  width: 35%;
  margin-right: 10%;
}

@media (max-width: 425px) {
  .vehicle-detail h1 {
    font-size: 18px;
  }
  .vehicle-detail img {
    width: 20px;
    height: 30px;
  }
  .chat-admin {
    font-size: 12px;
    padding: 2% 5%;
    border-radius: 5px;
  }
  .reservation {
    font-size: 12px;
    padding: 2% 5%; 
    border-radius: 5px;
  }
  .favorite {
    font-size: 12px;
    padding: 2% 5%; 
    border-radius: 5px;
  }
  .favorite img {
    width: 20%;
  }
}