* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vehicle-bar {
  margin: 0 2%;
  display: flex;
  flex-direction: row;
}
.vehicle-bar img {
  width: 100%;
  border-radius: 25px;
}
.vehicle-type {
  text-align: center;
}
.vehicle-type img {
  width: 220px;
  height: 300px;
}
.vehicle-desc {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  margin: 5% 10%;
  border-radius: 15px;
  padding: 2% 5%;
  width: 75%;
}
.vehicle-desc p {
  margin: 0;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 900;
}

.vehicle-card-image {
  width: 10%;
  height: 10%;
  border-radius: 25px;
}

@media (max-width: 425px) {
  .vehicle-type img {
    width: 115px;
    height: 200px;
  }
}
