body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PAGE PROFILE */

.profile-name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.profile-contact {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b8becd;
}

.profile-image-wrapper {
  position: relative;
}

.profile-icon {
  font-size: 30px;
}

.profile-edit-image {
  position: absolute;
  top: 250px;
  right: 40px;
  border-radius: 50% !important;
}

.gold-buttons {
  background: #ffcd61;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #393939;
  border: unset;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  padding-right: 35px;
}

.black-buttons {
  background: #393939;
  border-radius: 10px;
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffcd61;
  border: unset;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  padding-right: 35px;
}

.silver-buttons {
  background: rgba(203, 203, 212, 0.27);
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #393939;
  border: unset;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  padding-right: 35px;
}

.profile-block-button {
  background: #393939 !important;
  border: unset !important;
  font-family: "Nunito" !important;
  color: #ffcd61 !important;
}

.profile-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  /* identical to box height, or 67% */

  display: flex;
  align-items: center;

  color: #000000;
}

.profile-contacts {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #4f5665;
}

.profile-input-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #9f9f9f;
}

.profile-input {
  border: unset !important;
  border-bottom: 1px solid black !important;
  border-radius: unset !important;
  padding-left: 0px !important;
}

/* END OF PROFILE PAGE */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.color-yellow {
  color: #ffcd61;
}

.border-yellow {
  border: 1px solid #ffcd61;
}

.background-yellow {
  background-color: #ffcd61;
}
