@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3% 0;
}
.left-img {
  width: 50%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  margin-right: 2%;
  padding: 2% 2%;
  border-radius: 15px;
}
.vehicle-img {
  width: 1000px;
  height: 350px;
}
.img-detail {
  width: 40%;
}
.right-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 2% 5%;
  border-radius: 15px;
}
.right-detail h1 {  
  font-family: Playfair Display;
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.right-detail h2 {
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5%;
}
.right-detail h3 {
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 900;
  text-align: end;
}
.right-detail p {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
}
.available {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  color: rgba(8, 126, 13, 1);
}
.payment {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  color: rgba(155, 10, 10, 1);
}
.counter {
  margin: 5% 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.counter h3 {
  font-family: Nunito;
  font-size: 28px;
  font-weight: 900;
}
.btn-min {
  padding: 4% 8%;
  background: rgba(203, 203, 212, 0.2);
  border-radius: 10px;
  border: none;
}
.btn-plus {
  padding: 4% 8%;
  background: rgba(255, 205, 97, 1);
  border-radius: 10px;
  border: none;
}

@media (max-width: 425px) {
  .main-detail {
    display: flex;
    flex-direction: column;
  }
  .left-img {
    width: 100%;
  }
  .vehicle-img {
    width: 100%;
    height: 180px;
  }
  .right-detail {
    width: 100%;
    margin-top: 2%;
  }
  .right-detail h1 {
    font-size: 20px;
    text-align: center;
  }
  .right-detail h2 {
    font-size: 16px;
    text-align: center;
  }
  .right-detail p {
    font-size: 14px;
  }
  .right-detail h3 {
    font-size: 20px;
    margin: 0;
  }
  .counter {
    margin-top: 0;
    margin-bottom: 5%;
    align-items: center;
  }
  .counter h3 {
    margin: 0;
  }
  .btn-min {
    padding: 2% 4%;
  }
  .btn-plus {
    padding: 2% 4%;
  }
  .btn-min img {
    width: 20px;
  }
  .btn-plus img {
    width: 20px;
  }
}